fastapi
uvicorn
python-dotenv
python-multipart

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-pinecone

pinecone

sentence-transformers
transformers
huggingface-hub

pypdf
requests
wasabi

streamlit
