langchain==0.3.27
langchain-community==0.3.27
langchain-openai==0.3.28
langchain-pinecone==0.2.12

flask==3.1.2

sentence-transformers==5.0.0
transformers==4.53.3
huggingface-hub==0.34.4

pypdf==5.8.0
python-dotenv==1.1.1

# Hugging Face Integration
langchain-huggingface==0.3.1

fastapi
uvicorn
python-multipart
wasabi
streamlit

-e .